
 .order{
  list-style-type: none;
    display: grid;
    gap: 40px;
    margin: 3rem 0;
    margin-top: 0rem;
    padding-bottom: 4rem;
}

.skill{
  display: flex;
  flex-direction: column;
  padding: 32px 48px 0;
  margin: 0 auto;
  background-color: black;
  border-radius: 2rem;
  margin-bottom: 2rem; 
}

.tech{
  font-weight: 800;
  font-size: 45px;  
  max-width: 100%;
  color: white;
  margin-bottom: 16px;
  padding: 58px 0 16px;
  text-decoration: underline skyblue;
}
    

.para{
  line-height: 40px;
  font-weight: 300;
  margin-top: 5rem;
  color: white;
    
}

.none{
list-style: none;
margin-bottom: 5rem;
}


.yes{
    display: flex;
    flex-direction: column;

}

.header{
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration:underline skyblue;
    margin-bottom: 3px;
}

.peru{
  font-size: 18px;
  line-height: 30px;
  color: rgba(255,255,255,0.75);
}

@media screen and (min-width: 300px) {
   .order{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}

.para{
  font-size: 1.1rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.tech{
  
    font-size: 35px;
    margin-bottom: 0rem;
    padding: 20px 0 16px;
    
}

.none{
  margin: 0rem;
  padding: 0rem;
}

.header{
    margin-bottom: 0rem;
}
}

@media screen and (min-width: 690px) {
 .order{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
}


@media screen and (min-width: 800px) {

.order{
  
    grid-template-columns: repeat(3,1fr);
    
}
.para{
  font-size: 1.5rem;
}

}


